<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h4>SUIVEZ-NOUS</h4>
                <ul class="footer1">
                    <li><img src="{{ asset('images/facebook.ico') }}" alt="" class="img-responsive"></li>
                    <li><img src="{{ asset('images/twitter2.ico') }}" alt="" class="img-responsive"></li>
                    <li><img src="{{ asset('images/youtube.png') }}" alt="" class="img-responsive"></li>
                    <li><img src="{{ asset('images/google_plus.ico') }}" alt="" class="img-responsive"></li>
                    <li><img src="{{ asset('images/social_feeds.png') }}" alt="" class="img-responsive"></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>QUI SOMMES NOUS ?</h4>
                <ul>
                    <li><a href="#" class="glyphicon glyphicon-home">A propos</a></li>
                    <li><a href="#" class="glyphicon glyphicon-home">Mentions légales</a></li>
                    <li><a href="#" class="glyphicon glyphicon-home">Contact</a></li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>NOS OFFRES</h4>
                <ul>
                    <li><a href="#" class="glyphicon glyphicon-home">&nbsp;Publicité sur ctijani</a></li>
                    <li><a href="#" class="glyphicon glyphicon-home">&nbsp;Offres de ctijani</a></li>
                    <li><a href="#" class="glyphicon glyphicon-home">&nbsp;Tourisme</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-6 col-md-6">
                    <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span>{{ 'now'|date('Y') }}-Tous droits reservés <b>By:</b> <i>ctijani</i></p>
                </div>
                <div class="col-sm-2 col-md-2"></div>
            </div>
        </div>
    </div>
</div>